name: .NET build and test

on:
  push:
    branches: [ main ]
    paths:
      - ".github/workflows/dotnet-build-and-test.yaml"
      - "src/**"
      - "tests/**"
  pull_request:
    branches: [ main ]
    paths:
      - ".github/workflows/dotnet-build-and-test.yaml"
      - "src/**"
      - "tests/**"

jobs:
  build-and-test:
    name: Build and Test (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest, windows-latest, macos-latest ]
    
    steps:
      - name: Setup .NET 9.x
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.x'
  
      - name: Print debug info
        run: dotnet --info
  
      - name: Install dependencies
        run: dotnet restore ${{ inputs.project-file }}
  
      - name: Test
        env:
          # https://github.com/microsoft/vstest/issues/2952#issuecomment-2234253765
          VSTEST_TESTHOST_SHUTDOWN_TIMEOUT: 60000 #ms
        run: dotnet test --no-restore --logger "GitHubActions"
